ul ul li:hover {background-color: lightgray;}
ul ul li {padding: 5px 0px 5px 0px;list-style: none;}
ul ul > li {margin-top: 10px;margin-bottom: 5px;}
ul ul {  list-style: inherit;  margin-left: -20px;}
ul ul li a {padding-left: 20px;}
.divWrapper {position:absolute;     top:0px;     padding-top:50%;     padding-bottom:50%;     height:0px;}
.myDiv {position: relative;  z-index: 5;  color: #000;  font-size: 400%;  height:200px;  padding-bottom:20px;}
.bg-f {  position: absolute;  z-index: -1;  top: 0;  bottom: 0;  left: 0;  right: 0;  background: url(//g) center center;  opacity: 1;  width: 350px;  height: 90%;}
.label-text {padding-top: 40px;}
.myDiv .bg {  position: absolute;  z-index: -1;  top: 0;  bottom: 0;  left: 0;  right: 0;  background: url(//g) center center;  opacity: .1;    width: 350px;    height: 90%;}z

img {width:100%;max-height:140px;}
body {padding-top:50px;}
#masthead {min-height:100px;}
#masthead h1 {font-size: 30px;line-height: 1;padding-top:20px;}
#masthead .well {margin-top:8%;}
#sidebar li.active {border:0 #eee solid;border-right-width:15px;}
.col-md-3 p {height: 40px;}
p.info-line2 {margin-top: -10px;}
.col-md-3 {height: 140px;margin-bottom: 15px;}
.navbar-bright {background-color:#111155;color:#fff;}
.affix-top,.affix{position: static;}
@media screen and (min-width: 768px) {#masthead h1 {font-size: 50px;}}
@media screen and (max-width: 590px) {.col-xs-4 {margin-bottom:30px;}}
@media screen and (max-width: 400px) {
 .col-xs-4 {max-height:120px;margin-bottom:10px;}
 .col-xs-4 .thumbnail {max-height:120px;}
 .col-xs-4 h4 {font-size: 12px}
 .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,.col-md-6, .col-lg-6,.col-xs-12, .col-sm-12 {padding-left: 5px; padding-right: 5px;}
}
@media (min-width: 979px) {#sidebar.affix-top {position: static;margin-top:30px;width:228px;}
#sidebar.affix {position: fixed;top:70px;width:228px;}}
