
/*david's edit*/

.info-size {visibility:hidden !important; display:none !important; }

a.bread, .breadend {padding-right:0px;padding-left:0px;}
a.bread:hover, a.breadend:hover {text-decoration: none;}
a.braedend:hover {cursor:default;}
a.bread::after {content: "/";color:#000;padding-left:5px;padding-right:5px;}
a.breadend {padding-right:15px;color:blue;}

.ratio {
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 100% ; /* % of width, defines aspect ratio*/
       background-repeat: no-repeat;
    background-size: cover;
}

.br {background-position: bottom right;}
.tr {background-position: top right;}
.bl {background-position: bottom left;}
.tl {background-position: top left;}
.bc {background-position: bottom center;}
.cc {background-position: top center;}

li.body-section p a.btn { display: inherit;}
header h1 { margin-top:0px; margin-bottom:0px;}
.jumbotron {padding: 20px 40px !important; margin-bottom:0px !important;}
ul.responsive {margin-bottom: 0px;}
.pageContainer div.content.slide {max-width: 1200px; margin-left: auto; margin-right: auto;}

.footer-section { margin-top:20px;}

div.row > div {padding: 0px 5px  !important;}

.caption-hidden {visibility:hidden; display:none; margin: 0px;}
.caption-show {visibility:visible; display:block; margin: 0px;}

.info-size {visibility:hidden !important; display:none !important; }

div.row div.div-col-sm div.caption-show p {visibility:hidden !important; display:none !important; margin: 0px;}
div.row div.div-col-sm div.caption-show h4 {visibility:visible !important; display:block !important; margin: 0px; height:55px;}

.body-section {padding:10px;}

.bgImage {
   position:static;
   height:100%;
   width:100%;
  /*
  background: url(http://aqua.org/~/media/Images/Home%20Page%20-%201300x540/dolphin/Main_Carousel_Homepage1_1300x540_11811-middle.jpg) no-repeat center center fixed; 
  */
  background-repeat: repeat-y;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom:-40px:re
}
/*
div.row div.col-md-6 .info {visibility: hidden;}
div.row div.col-md-6 div.caption {height: 45px;overflow: visible;}
div.thumbnail:hover .info {position: relative;top: -157px;color: #000;visibility: visible;background-color: rgba(255,255,255,0.8);
.thumbnail {overflow:hidden !important;}
*/
div.row div.col-md-6 div.caption, div.row div.col-md-4 div.caption { height:150px;}



@media only screen and (max-width: 768px) {

/*david's edits */
li.body-section p a.btn {line-height: 3; }
.header-section {padding-top: 0px; padding-bottom: 0px;}
div.row > div {padding: 0px 0px 0px 5px;}

.caption-hidden {visibility:hidden; display:none; margin: 0px;}
.caption-show {visibility:visible; display:block; margin: 0px;}

div.row div.div-col-sm div.caption-show {visibility:hidden !important; display:none !important; margin: 0px;}

div.row div.div-col-md div.caption-show {height:73px;}
div.row div.div-col-md div.caption-show p {visibility:hidden !important; display:none !important; margin: 0px;}
div.row div.div-col-md div.caption-show h4 {visibility:visible !important; display:block !important; margin: 0px; }

/*div.row div.caption {visibility:hidden !important;display:none !important;}
div.row div.col-xs-12 div.caption {visibility:visible !important; display:block !important; margin: 0px;}*/

div.thumbnail {padding:0px; margin-bottom:5px;}
div.col-xs-12 div.thumbnail {padding:0px; margin-bottom:15px;}

