/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


ul, li {
list-style-type: none;
list-style:none;
padding: 0px;
margin: 0px;
}

#bgImage {	
position:static;
   height:100%;
   width:100%;
  background: url(http://aqua.org/~/media/Images/Home%20Page%20-%201300x540/dolphin/Main_Carousel_Homepage1_1300x540_11811-middle.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom:-40px;
}
.translucent {
    opacity: 0.4;
    filter: alpha(opacity = 40); /* For IE */
}
/*
#gallery img  {
background-color:RGBA(255,255,255,.2);
padding: 60px 10px 10px 10px;
margin: -65px 0px 30px 0px;
border-radius:6px;
}
*/
.panel{background-color:RGBA(245, 245, 245,0.2);}
.panel-info{border-color:RGBA(188, 232, 241,0.6);}
.panel-info .panel-heading{color:#3a87ad;background-color:RGBA(217, 237, 247,.6);border-color:RGBA(188, 232, 241,0.6);}
.h4 small,h4 small{color:#666 !important;}


#gallery h3 {
	color:#000;
	padding-left:10px;
}

#gallery img {
	width:100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
	background:rgba(255,255,255,0.55);
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
  
  .dropdown-menu{
	margin-top:0px;
	overflow: visible;
}
  
}

/* Responsive Phone */
@media (max-width: 768px) { .dropdown-menu{
	top:35px;
	max-height: 250px;
	overflow: hidden;
	overflow-y: auto;
} }

.row h2 {
	color:#222;	
}
.row p, footer p{
	color:#CCC;
}
